form{
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
}

input{
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid $grayish-blue;
  font-weight: 600;
  display: flex;

  &:valid{
    border: 2px solid $green;
  }

  &:focus{
    border: 2px solid $grayish-blue;
    background-image: none;
  }
}

.invalid{
  border: 2px solid $red;
  background: url("../images/icon-error.svg") no-repeat center right 3%;
}

.input-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.alert{
  visibility: hidden;
  color: $red;
  text-align: right;
  font-size: .8rem;
  font-style: oblique;
  margin-bottom: 10px;
}

.submit{
  display: block;
  text-align: center;
  background-color: $green;
  color: #fff;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0px 5px 0px #129212;

  &:active {
    transform:translateY(2px);
    box-shadow: 0px 3px 0px #129212;
  }
}
//falta box shadow

.terms{
  text-align: center;
  font-size: .8rem;
  color: $grayish-blue;
  margin-top: 20px;

  a{
    color: $red;
    font-weight: 600;
  }
}
