@media screen and (max-width: 1024px) and (min-width: 768px){
  main{
    width: 70%;
  }
}

@media screen and (min-width: 1025px){
  body{
    height: 100vh;
  }

  main{
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 40px;
  }


  .title-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    h1{
      font-size: 3rem;
    }
  }
}


