//CSS VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%); 
$grayish-blue: hsl(246, 25%, 77%);
$fontfam: 'Poppins', sans-serif;

//GLOBAL
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $fontfam;
  width: 100%;
  display: grid;
  place-items: center;
  background: url("../images/bg-intro-mobile.png"),
              $red;
}

//MOBILE FIRST
main{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 60px 0 30px 0;
}

@import "title_content";
@import "free_trial";
@import "form";
@import "footer";
@import "media";